<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <div class="container">
            <div class="block">
                <h2>Select the number</h2>
            </div>
            <div class="block">
                <div class="grid">
                    <a href="/first" class="button">First</a>
                    <a href="/fourth" class="button">Fourth</a>
                    <a href="/second" class="button">Second</a>
                    <a href="/fives" class="button">Fives</a>
                    <a href="/third" class="button">Third</a>
                    <a href="/sixth" class="button">Sixth</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>